In [2]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [3]:
%%bigquery --project wx-bq-poc
SELECT COUNT(DISTINCT Visit_number) as visits, shopperID
FROM `wx-bq-poc.prod_adobe_data.V_click_stream_web` 
WHERE ShopperID = '2308304'
AND visit_date > '2020-11-17'
AND visit_date <= '2020-11-30'
GROUP BY ShopperID

   visits shopperID
0       9   2308304